nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: space-between;
  height: 50px;
  padding: 0.5rem;
  background-color: rgb(17, 26, 45);
  font-color: white;
  border-radius: 20px;
}

html {
  font-family: Roboto;
}

a {
  text-decoration: none;
}

a:link,a:visited {
  color: white;
}

a:hover {
  color: gray;
}

a:active {
  color: green;
}
